@model MediaWeb.Models.Muziek.AlbumCreateViewModel
<form method="get" asp-action="Find" asp-controller="Muziek" >
  <p>Artiest naam: </p>
  <input name="inputStr" type="text" />
  <button class="btn-primary" type="submit">Zoek artiest</button>
</form>
