@model MediaWeb.Models.Muziek.AlbumCreateViewModel
<strong>Artiest</strong>
<p>@Model.Artiest</p>
<form enctype="multipart/form-data" asp-action="CreateAlbum" asp-controller="Muziek">
    <div class="form-group">
        <label asp-for="Titel"></label>
        <input asp-for="Titel" />
        <span class="text-danger" asp-validation-for="Titel"></span>
    </div>
    <div class="form-group">
        <label asp-for="AlbumArt"></label>
        <input asp-for="AlbumArt" />
        <span class="text-danger" asp-validation-for="AlbumArt"></span>
    </div>
    <div class=form-group>
        <input hidden asp-for="Artiest" />
    </div>
    <div class="form-group">
        <button class="btn-primary" type="submit">Maak album</button>   
    </div>
</form>
