@model IEnumerable<MediaWeb.Models.Film.FilmListViewModel>

    
    <table class="table">
        <tr><td></td><td><strong>Film</strong></td><td><strong>Genres</strong></td></tr>
        @foreach (var item in Model)
        {
            <tr>
                <td><img src="@item.GetPicture" /></td>
                <td>
                    <strong><a asp-controller="Film" asp-action="Detail" asp-route-id=@item.Id>@item.Titel</a></strong>
                </td>
                <td>
                    @foreach (var genre in item.Genres)
                    {
                        <small>@genre</small>
                    }
                </td>
                
            </tr>
        }

    </table>
    <a asp-controller="Film" asp-action="Create">Create new film</a>